* {
    margin: 0px;
}

html, body {
    background-color: gainsboro;
    height: 100%;
}

.center-frame {
    margin: 50px auto;
    padding: 10px;
    min-width: 400px; 
    max-width: 600px; 
    background-color: white;

}

#whatday {
 border-style: none;
 background-color: white;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 10fr 3fr;
}

.contents {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
}

.total {
    display: grid;
    grid-template-columns: 1fr 1fr;
}